

<p>
  <strong>Database 2: </strong>
  <%= @mapping.database2 %>
</p>

<h2>Add entries:</h2>
<%= form_for([@mapping, @mapping.entries.build]) do |f| %>
  <p>
    <strong>Database 1: </strong>
    <%= @mapping.database1 %>
  </p> 
  <p>
    <%= f.label :Table_Name %><br>
    <%= f.text_area :tablename %>

    <%= f.label :Column_Name %><br>
    <%= f.text_area :colname %>

    <%= f.label :Column_Type %><br>
    <%= f.text_area :colntype %>
  </p>

  <%= f.hidden_field :database, :value => 1 %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_mapping_path(@mapping) %> |
<%= link_to 'Back', mappings_path %>
