<% provide(:title, "Select") %>
<h1> Select Data </h1>

<div style="display:inline">
<%= form_for :entry do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :data_source_name %> 
  </p>

  <h3> Fields for Datasource1 </h3>
  <%= f.fields_for :entry do |g| %>
    <p>  
      <%= g.text_field :field_name %>
      <%= g.select :field_type, ['CHAR', 'INTEGER'] %>
      <%= g.check_box :_destroy %>
      <%= g.label :_destroy, 'delete' %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Add field', :name => "add_field1" %>
    <%= f.submit 'Delete checked field', :name=> "remove_field1" %>
    <%= f.submit %>  
  </p>
  <% end %>
</div>

<div style="display:inline">
<%= form_for :entry do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :data_source_name %> 
  </p>

  <h3> Fields for Datasource1 </h3>
  <%= f.fields_for :entry do |g| %>
    <p>  
      <%= g.text_field :field_name %>
      <%= g.select :field_type, ['CHAR', 'INTEGER'] %>
      <%= g.check_box :_destroy %>
      <%= g.label :_destroy, 'delete' %>
    </p>
  <% end %>
  <% end %>
</div>

  




