<head>
    <link href="/app/assets/stylesheets/landing-page.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<div class="jumbotron">
<table align="center">
  <tr>
  	<th style="padding: 15px;"><h3>Mapping name</h3></th>
    <th style="padding: 15px;"><h3>Database 1</h3></th>
    <th style="padding: 15px;"><h3>Database 2</h3></th>


  </tr>
 
  <% @mappings.each do |mapping| %>
    <tr align="center">

      <td style="padding-right: 15px;"><%= mapping.mapping_name %></td>
      <td style="padding-right: 15px;"><%= mapping.database1 %></td>
      <td style="padding-right: 15px;"><%= mapping.database2 %></td>


      <!--<td style="padding-right: 15px;"><%= link_to 'Edit Fields', mapping_path(mapping) %></td>-->
      
      <td style="padding-right: 15px;"><%= link_to 'View/Edit', edit_mapping_path(mapping) %></td>
      <td style="padding-right: 15px;"><%= link_to 'Destroy', mapping_path(mapping),

              method: :delete,
              data: { confirm: 'Are you sure to delete?' } %></td>
      <td style="padding-right: 15px;"><%= link_to 'Download Mapping', download_path(:id => mapping.id) %></td>
    </tr>
  <% end %>
  <tr align="right">
    <td style="padding-right: 15px;" colspan="6">
      <p><br></p>
      <div class="row-fluid">
        <div class="col-sm-3" stype="float:right;">
      <%= form_for :mappings, { :url => upload_path , :html => {:multipart => true} }  do |f| %>
        <%= file_field_tag 'mappingfile' %>
        <%= submit_tag 'Upload mapping' %>
      <% end %>
      </div>
      </div>
      
     
      <button class="btn btn-default"><%= link_to 'New Mapping'.html_safe, new_mapping_path %></button>
    </td>
  </tr>
</table>
</div>
