<% provide(:title, "Select") %>
<h1> Mapping Tool </h1>
<<<<<<< HEAD
<%= form_for :mapping, url: mappings_path do |f| %>

  <% if @mapping.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@mapping.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @mapping.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


=======
<%= form_for :mapping, url: {action: "create"} do |f| %>
>>>>>>> 88b2a5391acad88b77b2f93b18cd02e5bba569c8
<table>
  <tr>
    <td>
        <%= f.label :Database_1%>
        <%= f.text_field :database1, :required => 'required' %> 
 
    </td>
    <td class="spacer" width = "50">
    <td>
        <%= f.label :Database_2 %>
        <%= f.text_field :database2, :required => 'required' %>  
    </td>
  </tr>
  <tr>
    <td colspan="3">
        <%= f.submit %>
    </td>
  </tr>
</table>
<% end %>
           





  




