<% provide(:title, "Select") %>
<h1> Mapping Tool </h1>
<%= form_for :mapping, url: {action: "create"} do |f| %>
<table>
  <tr>
    <td>
        <%= f.label :Database %>
        <%= f.text_field :database, :required => 'required' %> 

        <%= f.label :Data_type %> 
        <%= f.text_field :coltype, :required => 'required' %>    

        <%= f.label :Column_name %> 
        <%= f.text_field :colname, :required => 'required' %>  
    </td>
    <td class="spacer" width = "50">
    <td>
        <%= f.label :Database %>
        <%= f.text_field :database2, :required => 'required' %> 

        <%= f.label :Data_type %> 
        <%= f.text_field :coltype2, :required => 'required' %>    

        <%= f.label :Column_name %> 
        <%= f.text_field :colname2, :required => 'required' %>  
    </td>
  </tr>
  <tr>
    <td colspan="3">
        <%= f.submit %>
    </td>
  </tr>
</table>
<% end %>
           

  <script>    
    function createMapping()
    {
      var table = document.getElementById("mappingTable");
      table.border = "0";

      var row = table.insertRow(-1);
      row.align = "left";
      var cell1 = row.insertCell(0);
      cell1.innerHTML = "Database: " + document.getElementById("text1").value;

      row.insertCell(1);
      var cell5 = row.insertCell(2);
      cell5.innerHTML = "Database: " + document.getElementById("text4").value;
      cell5.align="right";
      ////
      var row2 = table.insertRow(-1);
      row2.align = "left";
      var cell2 = row2.insertCell(0);
      cell2.innerHTML = "Type: " + document.getElementById("text2").value;
      var mappcell = row2.insertCell(1);
      mappcell.innerHTML = "<------>";
      mappcell.align = "center";
      var cell6 = row2.insertCell(2);
      cell6.innerHTML = "Type: " + document.getElementById("text5").value;
      cell6.align="right";
      ////

      var row3 = table.insertRow(-1);
      row3.align = "left";
      var cell3 = row3.insertCell(0);
      cell3.innerHTML = "Named: " + document.getElementById("text3").value;
      row3.insertCell(1);
      var cell7 = row3.insertCell(2);
      cell7.innerHTML = "Named: " + document.getElementById("text6").value;
      cell7.align="right";

      var temp = table.insertRow(-1);
      var cell = temp.insertCell(0);
      cell.innerHTML = "----------------------------------------------";
      cell = temp.insertCell(1);
      cell.innerHTML = "----------------------------------------------";
      cell = temp.insertCell(2);
      cell.innerHTML = "----------------------------------------------";

      
    }
  </script>



  




