

<p> 
	Database:
	<%= @mapping.database %><br>
</p>
<p> 
	Column Name:
	<%= @mapping.colname %><br>
</p>
<p> 
	Column Type:
	<%= @mapping.coltype %><br>
</p>

<p> 
	Database 2:
	<%= @mapping.database2 %><br>
</p>
<p> 
	Column Name:
	<%= @mapping.colname2 %><br>
</p>
<p> 
	Column Type:
	<%= @mapping.coltype2 %><br>
</p>



