<p> Mapping <%= @mapping.id %></p>

<table>
<tr>
<td>
Database 1: <%= @mapping.database1 %><br>
<table>
  <tr align="center">
  	<td style="padding-right: 15px;">| Table Name | </td>
  	<td style="padding-right: 15px;">| Column Name | </td>
  	<td style="padding-right: 15px;">| Column Type | </td>
  	<td style="padding-right: 15px;">| Edit | <td>
  </tr>

  <% @mapping.entries.where(database: [1]).find_each do |entry| %>
  <tr align="center">
  	<td style="padding-right: 15px;"><%= entry.tablename %></td>
    <td style="padding-right: 15px;"><%= entry.colname %></td>
    <td style="padding-right: 15px;"><%= entry.coltype %></td>
    <td style="padding-right: 15px;">
      <%= link_to 'Delete', [entry.mapping, entry],
                     method: :delete,
                     data: { confirm: 'Are you sure?'} %>
    </td>
  </tr>
  <% end %>

  <tr>
  	<%= form_for([@mapping, @mapping.entries.build]) do |f| %>
    <td style="padding-right: 15px;">
      	<%= f.text_area :tablename, :required => 'required' %>
  	</td>

  	<td style="padding-right: 15px;">
      	<%= f.text_area :colname, :required => 'required' %>
  	</td>

      <td style="padding-right: 15px;">
      	<%= f.text_area :coltype, :required => 'required'  %>
  	</td>

  	<%= f.hidden_field :database, :value => 1 %>

  	<td style="padding-right: 15px;">
  	  	<%= f.submit %>
  	</td>

    

    <td>

    </td>
	<% end %>
  </tr>
</table>

</td>

<td width = '50'></td>

<td>
Database 2: <%= @mapping.database2 %><br>

<table>
  <tr align="center">
  	<td style="padding-right: 15px;">| Table Name | </td>
  	<td style="padding-right: 15px;">| Column Name | </td>
  	<td style="padding-right: 15px;">| Column Type | </td>
  	<td style="padding-right: 15px;">| Edit | <td>
  </tr>

  <% @mapping.entries.where(database: [2]).find_each do |entry| %>
  <tr align="center">
  	<td style="padding-right: 15px;"><%= entry.tablename %></td>
    <td style="padding-right: 15px;"><%= entry.colname %></td>
    <td style="padding-right: 15px;"><%= entry.coltype %></td>
    <td style="padding-right: 15px;">
      <%= link_to 'Delete', [entry.mapping, entry],
                     method: :delete,
                     data: { confirm: 'Are you sure?'} %>
    </td>

  <% end %>

  <tr>
  	<%= form_for([@mapping, @mapping.entries.build]) do |f2| %>
  	<td style="padding-right: 15px;">
    	<%= f2.text_area :tablename, :required => 'required' %>
	</td>

	<td style="padding-right: 15px;">
    	<%= f2.text_area :colname, :required => 'required' %>
	</td>

    <td style="padding-right: 15px;">
    	<%= f2.text_area :coltype, :required => 'required'  %>
	</td>

	  	<%= f2.hidden_field :database, :value => 2 %>

	<td style="padding-right: 15px;">
	  	<%= f2.submit %>
	</td>

	<% end %>
  </tr>

</table>
</td>
</tr>
</table>


 
<%= link_to 'Edit', edit_mapping_path(@mapping) %> |
<%= link_to 'List Mapping', mappings_path %>






