<p> Mapping <%= @mapping.id %></p>

<table>
<tr valign="top">
<td>
<h1>
Database 1: <%= @mapping.database1 %>
</h1>
<br>
<table>
  <tr align="center">
  	<td style="padding-right: 15px;"> <h4>Table Name</h4>  </td>
  	<td style="padding-right: 15px;"> <h4>Column Name</h4>  </td>
  	<td style="padding-right: 15px;"> <h4>Column Type</h4>  </td>
  	<td style="padding-right: 15px;"> <h4>Edit</h4>  <td>
  </tr>

  <% @mapping.entries.where(database: [1]).find_each do |entry| %>
  <tr align="center">
  	<td style="padding-right: 15px;"><%= entry.tablename %></td>
    <td style="padding-right: 15px;"><%= entry.colname %></td>
    <td style="padding-right: 15px;"><%= entry.coltype %></td>
    <td style="padding-right: 15px;">
      <%= link_to 'Delete', [entry.mapping, entry],
                     method: :delete,
                     data: { confirm: 'Are you sure?'} %>
    </td>
  </tr>
  <% end %>

  <tr>
  	<%= form_for([@mapping, @mapping.entries.build]) do |f| %>
    <td style="padding-right: 15px;">
      	<%= f.text_field :tablename, :required => 'required' %>
  	</td>

  	<td style="padding-right: 15px;">
      	<%= f.text_field :colname, :required => 'required' %>
  	</td>

      <td style="padding-right: 15px;">
      	<%= f.select :coltype, ['VARCHAR','INTEGER'], :required => 'required'  %>
  	</td>

  	<%= f.hidden_field :database, :value => 1 %>

  	<td style="padding-right: 15px;">
  	  	<%= f.submit %>
  	</td>

    

    <td>

    </td>
	<% end %>
  </tr>
</table>

</td>

<td width = '50'></td>

<td>
<h1>
Database 2: <%= @mapping.database2 %>
</h1>
<br>

<table>
  <tr align="center">
  	<td style="padding-right: 15px;"> <h4>Table Name</h4>  </td>
  	<td style="padding-right: 15px;"> <h4>Column Name</h4>  </td>
  	<td style="padding-right: 15px;"> <h4>Column Type</h4>  </td>
  	<td style="padding-right: 15px;"> <h4>Edit</h4>  <td>
  </tr>

  <% @mapping.entries.where(database: [2]).find_each do |entry| %>
  <tr align="center">
  	<td style="padding-right: 15px;"><%= entry.tablename %></td>
    <td style="padding-right: 15px;"><%= entry.colname %></td>
    <td style="padding-right: 15px;"><%= entry.coltype %></td>
    <td style="padding-right: 15px;">
      <%= link_to 'Delete', [entry.mapping, entry],
                     method: :delete,
                     data: { confirm: 'Are you sure?'} %>
    </td>

  <% end %>

  <tr>
  	<%= form_for([@mapping, @mapping.entries.build]) do |f2| %>
  	<td style="padding-right: 15px;">
    	<%= f2.text_field :tablename, :required => 'required' %>
	</td>

	<td style="padding-right: 15px;">
    	<%= f2.text_field :colname, :required => 'required' %>
	</td>

    <td style="padding-right: 15px;">
    	<%= f2.select :coltype, ['VARCHAR','INTEGER'],  :required => 'required'  %>
	</td>

	  	<%= f2.hidden_field :database, :value => 2 %>

	<td style="padding-right: 15px;">
	  	<%= f2.submit %>
	</td>

	<% end %>
  </tr>

</table>
</td>
</tr>
</table>


 
<%= link_to 'Edit', edit_mapping_path(@mapping) %> |
<%= link_to 'List Mapping', mappings_path %>






